html {
  text-align: center;
  /*set this, and body's margin auto, inline-block, center the body*/
}

body {
  box-sizing: border-box;
  height: 700px;
  /*the game's maxiumum height needed is 700px*/
  background-color: #23462d;
  color: #cacaca;
  font-size: 16px;
  /*set the font size so rem and em can be used throughout*/
  font-family: 'Cabin Sketch', cursive;
  text-align: center;
  margin: auto;
  display: inline-block;
  /*transform: scale(?);*/
  /*this value will be set by the script*/
  transform-origin: top;
  /*to use together with the line above*/
}

h1 {
  font-size: 3.5em;
  font-weight: 100;
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 2em;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 100;
  margin: .4em;
}

#keypad a {
  font-size: 2.7em;
  margin: .1em;
  cursor: pointer;
}

#keypad a.finished {
  /*reset pointer after the game is over to prevent further clicking*/
  cursor: default;
}

#guessing {
  font-size: 2.7em;
  margin: 0.4em auto;
}

#keypad .correct-letter {
  /*letters which belong to the word*/
  color: #7ae867;
  cursor: no-drop;
}

#keypad .incorrect-letter {
  /*letters which don't belong to the word*/
  color: #ff6c6c;
  cursor: no-drop;
}

.hidden {
  /*visibility: hidden;*/
  display: none;
}

[status="escaped"] {
  /*a status of the masthead*/
  color: #7ae867;
}

[status="hanged"] {
  /*a status of the masthead*/
  color: #ff6c6c;
}


span {
  font-size: 1.5rem;
}

#wins,
#losses {
  margin-right: 1.5rem
}

a:hover {
  color: gray;
}

a:active {
  /*when buttons are pressed down*/
  position: relative;
  top: 2px;
}
