html {
  text-align: center;  /*set this, and body's margin auto, inline-block, center the body*/
}

body {
  height: 666px; /*the game's maxiumum height needed is 700px*/
  width: 390px; /*Masthead is 387 px when it's the widest*/
  background-color: #23462d;
  color: #cacaca;
  font-size: 16px;
  /*set the font size so rem and em can be used throughout*/
  font-family: 'Cabin Sketch', cursive;
  text-align: center;
  margin: auto;
  display: inline-block;
  /*transform: scale(?);*/ /*this value will be set by the script*/
  transform-origin: top;  /*to use together with the line above*/
}

h1 {
  font-size: 3.5em;
  font-weight: 100;
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 2em;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 100;
  margin: .4em;
}

#keypad a {
  font-size: 2.7em;
  padding: .1em .13em;
  cursor: pointer;
}

#keypad a.finished {  /*reset pointer after the game is over to prevent further clicking*/
  cursor: default;
}

#guessing {
  font-size: 2.7em;
  margin: 0.4em auto;
}

#keypad .correct-letter {   /*letters which belong to the word*/
  color: #89d47b;
  cursor: no-drop;
}

#keypad .incorrect-letter {  /*letters which don't belong to the word*/
  color: #f57b7b;
  cursor: no-drop;
}

.hidden {  /*visibility: hidden;*/
  display: none;
}

[status="escaped"] {  /*a status of the masthead*/
  color: #89d47b;
}

[status="hanged"] {  /*a status of the masthead*/
  color: #f57b7b;
}


span {
  font-size: 1.5rem;
}

#wins,
#losses {
  margin-right: 1.5rem
}

a:hover {
  color: white;
}

a:active {  /*when buttons are being pressed down*/
  position: relative;
  top: 2px;
}
