html {
  /*text-align: center;*/
  font-size: 16px;
  font-family: 'Cabin Sketch', cursive;
}

body {
  text-align: center;
  max-width: 600px margin:auto;
}

h1 {
  font-size: 3.5em;
  font-weight: 100;
  margin: .5em;
}

h2 {
  font-size: 2em;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 100;
  margin: .4em;
}

#keypad a {
  font-size: 2.7em;
  margin: .1em;
  cursor: pointer;
}

#keypad a.finished {
  /*reset pointer after the game is over to prevent further clicking*/
  cursor: default;
}

#guessing {
  font-size: 2.7em;
  margin: .1em;
  margin-bottom: .5em;
}

#keypad .correct-letter { /*letters which belong to the word*/
  color: #39ca20;
  cursor: no-drop;
}

#keypad .incorrect-letter { /*letters which don't belong to the word*/
  color: red;
  cursor: no-drop;
}

.hidden {
  /*visibility: hidden;*/
  display: none;
}

[status="hanged"] { /*a status of the masthead*/
  color: red;
}

[status="escaped"] { /*a status of the masthead*/
  color: #39ca20;
}

span {
  font-size: 1.5rem;
}

#wins,
#losses {
  margin-right: 1.5rem
}

a:hover {
  color: gray;
}

a:active { /*when buttons are pressed down*/
  position: relative;
  top: 2px;
}
